{
	"BOT_TOKEN": "YOUR_TOKEN",
	"CHANNEL_ID": "YOUR_BLOCK_NOTIFY_CHANNEL_ID",
	"PAYMENT_CHANNEL_ID": "YOUR_PAYMENT_NOTIFY_CHANNEL_ID",
	"WELCOME_CHANNEL_ID": "YOUR_WELCOME_CHANNEL_ID",
	"API_DOMAIN": "YOUR_POOL_DOMAIN",
	"BLOCK_EXPLORER": "https://xmrchain.net/block/",
	"LAST_BLOCK_HASH": "",
	"LAST_PAYMENT_HASH": "",
	"CHECK_INTERVAL": 60000,
	"PREFIX": "!",
	"DB": {
		"host": "example.org",
		"user": "bob",
		"password": "secret",
		"database": "my_db",
		"waitForConnections": true,
		"connectionLimit": 10,
		"table": "table_name",
		"address_col": "xmr_address_column",
		"discord_col": "discord_column"
	}
}
